In [2]:
import pandas as pd

In [5]:
res = []
scip_lines = 5
with open('./res.txt') as f:
    i = 0
    mnum = ''
    for line in f:
        if i < 5:
            i+=1
            continue
        if line.startswith('~'):
            continue
        if len(line.split('\t')) == 1:
            mnum = line.split('\t')[0].replace('\n', '')
            continue
        res.append(mnum + '\t' + line)

In [7]:
thefile = open('fres.csv', 'w')

In [8]:
for item in res:
  thefile.write("%s" % item)

In [10]:
df = pd.read_csv('./fres.csv',sep='\t', names = ["id","x", "y", "pa", "temp","ma"], usecols=range(0,6))

In [12]:
test = df.groupby('id')['temp','pa'].apply(lambda cols: for t,p in cols: return Point)

In [13]:
test.head()

         temp          pa
0         124   260704002
1         125   353258817
2         155   520861680
3         175   604051962
4         173   599801102
21        128   267804291
22        128   365411075
23        159   527039508
24        158   572199164
25        157   558918195
42        129   271182869
43        130   372770802
44        160   528558783
45        147   543864619
46        141   506418765
63        134   282328190
64        134   385415186
65        165   542694125
66        180   618102827
67        178   629657943
84        136   284235972
85        136   393988878
86        167   539651446
87        143   532352084
88        138   489016599
105       139   292884344
106       139   399737328
107       170   550960511
108       161   570851266
109       156   551688459
...       ...         ...
1553475   553   950512610
1553476   567   952149188
1553477   580   978727021
1553478   595  1073773563
1553479   608  1129960038
1553496   577   938500395
1553497   580   918240010
1553498   582   923196556
1553499   584  1001292714
1553500   592  1041548656
1553517   655  1029340862
1553518   652  1000222223
1553519   646   993151569
1553520   645  1058774104
1553521   648  1087101319
1553538   545   888226293
1553539   549   871444412
1553540   551   879502778
1553541   554   960543147
1553542   565  1004935932
1553559   585   939886456
1553560   593   929291918
1553561   599   941513745
1553562   607  1025022153
1553563   614  1063152904
1553580   449   859237444
1553581   456   848315815
1553582   461   858792703
1553583   466   889827537
1553584   467   915169103

[369905 rows x 2 columns]